.card {
  border: 2px solid var(--background-800);
  cursor: pointer;
}

.card img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3 / 4;

  transition: transform 0.4s ease-out;
  transform-origin: 50% 25%;
  transform: scale(1.7);
}

.img-wrapper {
  overflow: hidden;
  /* background-color: var(--background-950); */

  background-image: var(--img),
    linear-gradient(
      180deg,
      var(--gradient0) 0%,
      var(--gradient1) 50%,
      var(--gradient2) 80%,
      var(--gradient3) 100%
    ),
    linear-gradient(180deg, var(--background-alpha60));

  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
}

.card-name {
  padding: 4px var(--space-2x);
  background-color: var(--text);
  color: var(--background);
}

/* Hover Animations  */
.card:hover {
  box-shadow: 0 0 var(--space-3x) var(--secondary);
}

.card:hover img {
  transition: transform 0.5s ease;
  transform: scale(1.8);
  filter: drop-shadow(0 0 2px var(--gradient1));
  backdrop-filter: blur(1px);
}

.card:hover .card-name h4 {
  color: var(--secondary);
}
