footer {
  display: flex;
  justify-content: center;
  gap: var(--space-1x);
  padding: var(--space-3x) var(--space-1x) 0px;
}
footer a {
  color: var(--text);
  font-weight: 600;
  text-decoration: none;
}
