#root {
  max-width: 1680px;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.img-container {
  aspect-ratio: 3 / 5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3 / 5;
}

.card {
  border: 1px solid white;
}
