@import url("https://fonts.googleapis.com/css?family=Lexend:700|Inter:400");

:root {
  --text: #e3ebf3;
  --background: #10151a;
  --background-alpha80: #10151ac0;
  --primary: #1d548c;
  --secondary: #17599b;
  --accent: #f84559;

  --text-50: #edf2f7;
  --text-100: #dbe6f0;
  --text-200: #b8cce0;
  --text-300: #94b2d1;
  --text-400: #7099c2;
  --text-500: #4d7fb3;
  --text-600: #3d668f;
  --text-700: #2e4c6b;
  --text-800: #1f3347;
  --text-900: #0f1924;
  --text-950: #080d12;

  --background-50: #eff2f5;
  --background-100: #dfe6ec;
  --background-200: #c0ccd8;
  --background-300: #a0b3c5;
  --background-400: #8199b1;
  --background-500: #617f9e;
  --background-600: #4e667e;
  --background-700: #3a4c5f;
  --background-800: #27333f;
  --background-900: #131920;
  --background-950: #0a0d10;

  --primary-50: #eaf2fb;
  --primary-100: #d5e5f6;
  --primary-200: #aaccee;
  --primary-300: #80b2e5;
  --primary-400: #5699dc;
  --primary-500: #2b7fd4;
  --primary-600: #2366a9;
  --primary-700: #1a4c7f;
  --primary-800: #113355;
  --primary-900: #09192a;
  --primary-950: #040d15;

  --secondary-50: #e9f2fc;
  --secondary-100: #d3e5f8;
  --secondary-200: #a6ccf2;
  --secondary-300: #7ab2eb;
  --secondary-400: #4e99e4;
  --secondary-500: #217fde;
  --secondary-600: #1b66b1;
  --secondary-700: #144c85;
  --secondary-800: #0d3359;
  --secondary-900: #07192c;
  --secondary-950: #030d16;

  --accent-50: #fee6e9;
  --accent-100: #fdced3;
  --accent-200: #fb9da8;
  --accent-300: #fa6b7c;
  --accent-400: #f83a50;
  --accent-500: #f60925;
  --accent-600: #c5071d;
  --accent-700: #940516;
  --accent-800: #62040f;
  --accent-900: #310207;
  --accent-950: #190104;

  --space-half: 8px;
  --space-1x: 8px;
  --space-2x: 16px;
  --space-3x: 24px;
  --space-4x: 32px;
  --space-5x: 40px;
}
/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
/* End CSS Reset */
body {
  font-family: "Inter";
  font-weight: 400;

  color: var(--text);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lexend";
  font-weight: 700;
}

html {
  display: flex;
  justify-content: center;
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.053rem; /* 48.8px */
}

h2 {
  font-size: 2.442rem; /* 39.04px */
}

h3 {
  font-size: 1.954rem; /* 31.2px */
}

h4 {
  font-size: 1.563rem; /* 24.96px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

small {
  font-size: 0.8rem; /* 12.8px */
}

#root {
  max-width: 1680px;
  margin: var(--space-4x);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-3x);
  gap: var(--space-4x);
}
.header > .game-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-4x);
}

/* Card container*/
.cards {
  position: relative;
}

.card-grid {
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space-3x);
}

.blur {
  filter: blur(1px);
}
/* Card */

.img-container {
  aspect-ratio: 3 / 5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card {
  cursor: pointer;
}

.card img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3 / 4;

  transition: transform 0.4s ease-out;
  transform-origin: 50% 25%;
  /* transform: scale(1.7) translateX(10%); */
  transform: scale(1.7);
}

.card:hover img {
  transition: transform 0.5s;
  transform: scale(1.85);
  /* transform: scale(1.9) translate(2%); */
}

.card:hover .card-name h4 {
  color: var(--secondary);
}

.img-wrapper {
  overflow: hidden;
  background-color: var(--background-900);

  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  overflow: hidden;

  background: linear-gradient(
    180deg,
    var(--background) 0%,
    var(--background-900) 75%,
    var(--background-800) 100%
  );

  background: linear-gradient(
    180deg,
    var(--background-950) 0%,
    var(--background-900) 75%,
    var(--background-800) 100%
  );
}

.card {
  border: 2px solid var(--background-800);
}
.card:hover {
  box-shadow: 0 0 var(--space-3x) var(--secondary);
}

.card-name {
  padding: 4px var(--space-2x);
  background-color: var(--text);
  color: var(--background);
}

/* Overlay */
.overlay {
  background-color: #10151a9a;
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay > h2 {
  font-size: 4.5rem;
  text-shadow: 0 0 var(--space-1x) var(--background-alpha80);
}

/* buttons */

.btn {
  padding: var(--space-2x) var(--space-2x);
  font-family: "Lexend";
  font-weight: 500;
  font-size: 1.2rem;
  border: 0px;
}

.btn-primary {
  color: var(--primary);
  cursor: pointer;
}

.restart-btn:hover {
  transition: box-shadow 0.3s ease-out, color 0.3s ease-out;
  box-shadow: 0 0 var(--space-4x) var(--secondary);
  color: var(--secondary);
}
.restart-btn {
  transition: box-shadow 1s ease-out, color 1s ease-in;
  color: var(--background);
}

/* animations */
.maxScore.change {
  animation: 1s change-color;
}
.restart-btn.glow {
  animation: 2s glow;
}
@keyframes change-color {
  from {
    color: var(--text);
  }
  50% {
    color: var(--primary-500);
  }
  to {
    color: var(--text);
  }
}

@keyframes glow {
  from {
    transition: box-shadow 1s ease-out, color 1s ease-in;
    color: var(--background);
  }
  50% {
    transition: box-shadow 0.5s ease-out, color 0.3s ease-out;
    box-shadow: 0 0 var(--space-4x) var(--secondary);
    color: var(--primary);
  }
  to {
    transition: box-shadow 1s ease-out, color 1s ease-in;
    color: var(--background);
  }
}

@media screen and (max-width: 1030px) {
  .title-info > h1 {
    font-size: 2.442rem;
  }
  .game-info h3 {
    font-size: 1.563rem;
  }
}

@media screen and (max-width: 800px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .header > .game-info {
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 450px) {
  .title-info > h1 {
    font-size: 1.954rem;
  }
  .game-info h3 {
    font-size: 1.25rem;
  }
}
